swagger: '2.0'
info:
  title: Bank Argent API documentation
  description: Contains all available API endpoints in this codebase
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
host: localhost:3001
basePath: /api/v1
schemes:
  - http
paths:
  /user/login:
    post:
      tags:
        - User Module
      summary: Login
      description: API for Login
      parameters:
        - in: body
          name: body
          description: Login Payload
          required: true
          schema:
            $ref: '#/definitions/Login'
      produces:
        - application/json
      responses:
        '200':
          description: Login Successfully
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/signup:
    post:
      tags:
        - User Module
      summary: Signup
      description: API for Signup
      parameters:
        - in: body
          name: body
          description: Signup Payload
          required: true
          schema:
            $ref: '#/definitions/User'
      produces:
        - application/json
      responses:
        '200':
          description: Signup Successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/profile:
    post:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for fetching a user profile
      #produces:
       # - application/json
      responses:
        '200':
          description: User profile retrieved successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
    put:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for updating a user profile
      parameters:
        - in: body
          name: body
          description: Update user profile attributes
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
     
  /user/transaction:        
    get:
      security:
        - Bearer: []
      tags: 
        - Module account
      summary: transaction utilisateur
      description: transactions pour le mois en cours
      produces: 
        - application/json
      responses: 
        '200':
          description: transaction retrieved successully
          schema:
            $ref: '#/definitions/transactionResponses'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
          
  /user/transaction/{id}:
    get:
      security:
        - Bearer: []
      tags: 
        - Module account
      summary: détail transaction utilisateur
      description: détail des transactions pour le mois en cours
      parameters: 
        - name: id
          in: path
          description: id de la transaction reçue
          required: true
          type: string
      produces: 
        - application/json
      responses: 
        '200':
          description: transaction detail retrieved successully
          schema:
            $ref: '#/definitions/transactionResponses'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
        
    put:
      security:
        - Bearer: []
      tags:
        - Module account
      summary: Mise à jour de la transaction
      description: La mise à jour de category et note
      parameters:
        - in: path
          name: id
          description: id de la transaction reçue pour mise à jour
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: mise à jour successefly
          schema:
            $ref: '#/definitions/transactionUpdate'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
          
          
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  User:
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
      firstName:
        type: string
        description: user first name
      lastName:
        type: string
        description: user last name
      userName:
        type: string
        description: user public name
  Login:
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
  ApiResponse:
    type: object
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
        properties:
          id:
            type: string
          email:
            type: string
  LoginResponse:
    type: object
    properties:
      token:
        type: string
  UserProfile:
    type: object
    properties:
      userName:
        type: string
  transactionResponses:
    type: object
    properties:
      id: 
        type: string
        example: ajh98hdgtVvs6llXadfdhj
      compte: 
        type: string
        example: Argent Bank Checking (x3448)
      date:
        type: string
        format: date
        example: 20/07/2024
      description:
        type: string
        example: Golden Sun Bakery
      amount:
        type: number
        example: 8
      transaction type:
        type: string
        example: electronique
      category: 
        type: string
        example: food
      note:
        type: string
        example: iorem ipsum
  transactionUpdate:
    type: object
    properties:
      category: 
        type: string
        example: food
      note:
        type: string
        example: iorem ipsum
      
