
.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    height: auto;

    h1 {
        color: red;
        font-size: 100px !important;
        font-weight: 700;
        margin: 110px 0 0 0;

        @media screen and (min-width: 768px) {
            font-size: 288px !important;
        }
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
            font-size: 36px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: yellowgreen;
        text-decoration: underline;
        margin: 0 0 110px 0;

        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
    }
}