.viewUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 30px auto ;
    background-color: white;
    border: none;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.formViewUser {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.labelForm {
    color: black;
    font-size: 16px;
}

.inputOpacity {
    background-color: rgba(0, 0, 0, 0.199);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.btn {
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
}